section.section-head .head {
    background: #fff;
}
section.section-head .head img {
    height: 150px;
}
h4.dtein-heading {
    color: #f39506;
    text-align: center;
}
section.dtein-section{
    background-image: linear-gradient(87deg, #4993d1d9, #4993d1d9),url(../img/agileeq2.jpg);
    background-attachment:fixed;
    text-align: center;
    padding: 1rem 0;
}
section.dtein-section p{
    color: #fff;
    font-size: 15px;
}
.lfyp-content {
    margin: auto;
}
section.lfyp-section {
    padding: 1rem 0;
}
img.img-fluid.agile-img-pta {
    width: 100%;
}
.ptake-content {
    margin: auto 0;
}
.ptake-content img {
    margin: 0;
}
section.agile-progcom{
    padding: 1rem 0;
}
@media(max-width:767px){
    section.ptake-away-sec img {
        width: 100%;
        margin-left: 0px !important ;
    }
}