section.section-head{
    background: url(../img/faq1.jpg);
    background-position: center center;
    background-size: cover;
    filter: brightness(0.5);
    height: 400px;
}
section.section-head .head h1,section.section-head .head p{
    position: relative;
}
section.section-head .head{
    background: unset;
}
p.assesment-para {
    color: #666666;
    text-align: center;
}
section.frequently-ask-section {
    padding: 2rem 0;
}
.frequently-section {
    text-align: center;
    /* padding: 2rem 0 0 0; */
}
button.accordion-button {
    font-family: 'volkr';
    font-size: 24px;
    color: #1C68AD;
    background: #fff;
    padding:1rem;
    border: 0;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    text-align: left;
    line-height: 1;
}
button.accordion-button.collapsed:before {
    content: "+";
    font-size: 24px;
    font-weight: 600;
}
button.accordion-button:before {
    content: "-";
    font-size: 24px;
    font-weight: 600;
}
.accordion{
    border: 1px solid #e4e4e4;
}
.accordion-header{
    margin: 0;
}
.accordion-body {
    padding: 10px;
    border-bottom: 1px solid #e4e4e4;
}
.accordion-item {
    /* margin-top: -10px; */
}
button.accordion-button.collapsed {
    border: 0;
    border-bottom: 1px solid #e4e4e4;
}
.accordion-section {
    margin: auto;
}
section.frequently-ask-section img {
    height: 500px;
}
section.faq-page section.faq-sec-head {
    position: relative;
}
section.faq-page .head {
    position: absolute;
    top: 20%;
    left: 45%;
}
@media(max-width:767px){
    section.faq-page .head {
        left: 29%;
    }
}