.head img {
    width: 400px;
    padding: 1rem 0;
}
 h3.mangement-head {
    font-size: 36px;
    text-align: center;
}
section.everything-manage-sec {
    background: #e4e4e4;
    padding: 1rem 0;
}
.youtube-blog {
    margin: auto 0;
}
section.ptake-away-sec.management {
    background-color: #0094CE;
    color: #fff;
    padding: 2rem 0;
}
section.ptake-away-sec.management h3{
    color: #fff;
}
section.programcon-management{
    background-image: linear-gradient(87deg, rgb(247, 247, 247), rgb(147 143 143 / 73%)),url(../img/management2.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(0.5); */  
    padding: 1rem 0;
}