section.proven-section p.samproven {
    font-size: 20px;
    color: #6A6A6A;
    width: 600px;
    font-family: 'volkr';
    margin: 0 auto;
    text-align: left;
    margin-bottom: 2rem;
}
section.proven-section h6 {
    color: #1C68AD;
    font-size: 20px;
    margin-bottom: 2rem;
}
section.proven-section{
    text-align: center;
}
p.assesment-para {
    color: #666666;
    text-align: center;
}
.card-assesment {
    /* padding: 1rem 1rem 2rem 1rem; */
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 13%);
    text-align: center;
}
.card-assesment img {
    transition-duration: 1500ms;
    width: 100%;
}
.card-assesment img:hover {
    transform: scale(1.2);
    filter: brightness(0.5);
}
.assessment-overlay:hover {
    transition-duration: 1500ms;
    background-color: rgba(0,0,0,.3);
    
}
.assessment-img {
    overflow: hidden;
}
.assessment-content {
    padding: 3rem 1rem;
}

.submitdetail-content h4 {
    color: #f39506;
}
section.submitdetail-section{
    background:url(../img/program5.png);
    background-position: center center;
    background-size: cover;
    
}
.sumitdetail-overlay{
    background-color: #1C68AD;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.submitdetail-content {
    position: relative;
}
.submitdetail-content p, .submitdetail-content h4 {
    position: relative;
}
.submitdetail-content:before {
    content: "“";
    font-size: 100px;
    color: #f39506;
    font-family: Times New Roman,Times,serif;
    font-weight: 900;
    line-height: 1;
    display: block;
    height: 0.6em;
}
.submitdetail-content {
    text-align: center;
    padding: 2rem 0 4rem 0;
}
.submitdetail-content p {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
.submit-form-sec img {
    filter: brightness(0.4);
    position: relative;
    transition-duration: 1500ms;
    height: 570px;
}
h4.submitd {
    position: absolute;
    top: 50%;
    width: 70%;
    left: 18%;
    color: #f39506;
    font-size: 34px;
}
.submit-form-sec:hover img {
    filter: brightness( 122% ) contrast( 64% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );

    transform: scale(1.1);
}
.submit-form-sec:hover h4{
    color: #1C68AD;
    transform: scale(1.1);
}
.submit-form-sec h4{
    
    transition-duration: 1500ms;
}
.submit-form-sec {
    overflow: hidden;
}
.submit-form label {
    color: #005046;
    font-size: 24px;
}
.section-form-submit {
    transform: translate(0px, -40px);
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 14%);
}
.section-form-submit form {
    padding: 2rem;
}
@media(max-width:767px){
    section.proven-section p.samproven {
        width: auto;
    }
    .submitdetail-content p {
        width: auto;
    }
}