.head img {
    width: 400px;
    padding: 1rem 0;
}
.workplace-content {
    text-align: center;
}
p.assesment-para {
    color: #666666;
    text-align: left;
}
section.ptake-away-sec p.benefit1 {
    text-align: center;
    padding: 2rem 0;
}
section.ptake-away-sec{
    background-color: #1C68AD;
}
section.ptake-away-sec ul{
    color: #fff;
    line-height: 2;
}
section.ptake-away-sec img {
    width: 300px;
    margin-left: 3rem;
}
section.program-comp-section ul li::marker{
    color: #666666;
}
section.program-comp-section li.program-comp-head {
    color: #1c68ad;
    font-weight: 600;
}
section.program-comp-section ul {
    line-height: 2;
}
section.program-comp-section p.benefit1 {
    text-align: center;
}
section.program-comp-section {
    padding: 2rem 0;
}
.workplace-content h3 {
    font-size: 36px;
}